/GamificationFront/Storybook/node_modules
/GamificationFront/web-front/node_modules

/GamificationFront/Storybook/node_modules
/GamificationMicroservices/ms-auth/node_modules
/GamificationMicroservices/ms-practice/node_modules
/GamificationMicroservices/ms-class/node_modules

/GamificationMicroservices/ms-auth/dist
/GamificationMicroservices/ms-practice/dist
/GamificationMicroservices/ms-class/dist